Dear BHSI Fellowship Applicant,
\
\
Thank you for applying to the Bluhm/Helfand Social Innovation Fellowship @ Chicago Ideas Week.
We've received your application and look forward to reviewing it with our judging committee.
Semi-finalists will be announced by July 22nd. In the meantime, please contact #{ApplicationHelper::INFO_BLUHMHELF_EMAIL}
if you have any questions.
\
\
Sincerely,
\
The Bluhm/Helfand Social Innovation Fellowship Team
