Dear BHSI Fellowship Applicant,
\
\
Thank you very much for your interest in the Bluhm/Helf and Social Innovation Fellowship @ Chicago Ideas Week.
We've received your application and look forward to reviewing with our judging committee.
\
\
Semi-finalists will be announced by July 22nd. In the meantime, please contact #{ApplicationHelper::INFO_BLUHMHELF_EMAIL} if you have any questions.
\
\
Thanks,
The BHSI TEAM
