.row.box-upload-file#ciw_contacts
  %p.ciw_contacts_title
    %strong Your CIW Contacts

  = render :partial => 'ciw_contact', :locals => { :name  => 'Leah Marshall',
                                                   :role  => 'Director of Development',
                                                   :phone => '312.999.3935',
                                                   :email => ApplicationHelper::CIW_LEAH_EMAIL }
  = render :partial => 'ciw_contact', :locals => { :name  => 'Jessica Malkin',
                                                   :role  => 'Executive Director',
                                                   :phone => '312.662.7708',
                                                   :email => ApplicationHelper::CIW_JESSICA_EMAIL }
