.row.box-upload-file#important_dates
  %p.important_dates_title
    Important upcoming dates

  - upcoming_events.each do |sponsor_event|
    = render :partial => 'sponsor/shared/sponsor_event', :locals => { :sponsor_event => sponsor_event }
