#sponsor_shares
  %p.share_title
    Stay connected with insider updates
  .share_links
    %span{ :class => 'st_facebook_large', 'st_url' => ApplicationHelper::CIW_FACEBOOK_URL, :id => 'facebook_share' }
    %span{ :class => 'st_twitter_large',  'st_url' => ApplicationHelper::CIW_TWITTER_URL,  :id => 'twitter_share'  }
