.row.box-upload-file#share_sponsor
  .share_description
    %p.share_title
      Let's make an impact together
    %p.share_info
      Help share your experience with CIW on social media. Please get involved.
  .share_links
    %span{ :class => 'st_facebook_large',   'st_url' => ApplicationHelper::CIW_FACEBOOK_URL, :id => 'facebook_share'   }
    %span{ :class => 'st_twitter_large',    'st_url' => ApplicationHelper::CIW_TWITTER_URL,  :id => 'twitter_share'    }
    %span{ :class => 'st_linkedin_large',   'st_url' => ApplicationHelper::CIW_LINKEDIN_URL, :id => 'linkedin_share'   }
    %span{ :class => 'st_googleplus_large', 'st_url' => ApplicationHelper::CIW_GPLUS_URL,    :id => 'googleplus_share' }
