#sponsor_shares
  %p.share_title
    Stay connected with insider updates
  .share_links
    = link_to image_tag('application/orders/facebook.png'), ApplicationHelper::CIW_FACEBOOK_URL, :id => 'facebook_share'
    = link_to image_tag('application/orders/twitter.png'),  ApplicationHelper::CIW_TWITTER_URL,  :id => 'twitter_share'
