!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
  %body
    %p
      The sponsor user #{@user.name} has uploaded his eps_logo and logo:
    %p
      = link_to 'Eps Logo', @user.sponsor_user.eps_logo.url
      %br
      = link_to 'Logo', @user.sponsor_user.logo.url
