.thank_you_modal_hidden, .demographic_modal_hidden {
  display: none;
}

#thank_you_modal {
  height: 400px;
  width: 750px;
  background: transparent;
  .thank_you_modal_inner {
    background: url(application/fancybox/fancy_shadow_n.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    .thank_you_close_button {
      position: absolute;
      height: 25px;
      width: 25px;
      right: 0;
      margin-top: 15px;
      margin-right: 15px;
      cursor: pointer;
    }
    .thank_you_info {
      width: 100%;
      height: 80%;
      border-bottom: 1px solid rgb(183, 181, 181);
      .thank_you_lightbulb {
        float: left;
        background: url(application/fancybox/fancy_lightbulb.png) no-repeat;
        background-size: 100% 100%;
        width: 206px;
        height: 206px;
        margin-top: 60px;
        margin-left: 60px;
      }
      .thank_you_message {
        float: left;
        width: 324px;
        margin-left: 60px;
        margin-top: 70px;
        .thank_you_title {
          font-size: 4em;
          font-weight: bold;
          text-align: center;
          color: rgb(14, 113, 195);
        }
        .thank_you_desc {
          margin-top: 40px;
          text-align: center;
        }
      }
      .thank_you_share {
        position: absolute;
        margin-top: 290px;
        margin-left: 30px;
        font-size: 1em;
      }
    }
    .thank_you_share_links {
      height: 18.5%;
      width: 99.5%;
      #thank_twitter_share, #thank_facebook_share, #thank_linkedin_share {
        width: 33%;
        height: 100%;
        display: block;
        float: left;
        border-top: 1px solid #FFFFFF;
        .stButton {
          width: 100%;
          height: 100%;
          .stLarge {
            width: 100%;
            height: 100%;
          }
          .stLarge:hover {
            opacity: 1 !important;
            background-position: center !important;
          }
        }
      }
      #thank_twitter_share {
        border-right: 1px solid #FFFFFF;
        .stButton .stLarge {
          background: url(application/fancybox/fancy_twitter.png) no-repeat center !important;
        }
      }
      #thank_facebook_share {
        border-right: 1px solid #FFFFFF;
        border-left: 1px solid rgb(183, 181, 181);
        .stButton .stLarge {
          background: url(application/fancybox/fancy_facebook.png) no-repeat center !important;
        }
      }
      #thank_linkedin_share {
        border-left: 1px solid rgb(183, 181, 181);
        .stButton .stLarge {
          background: url(application/fancybox/fancy_linkedin.png) no-repeat center !important;
        }
      }
    }
  }
}

#demographic_modal {
  height: 700px;
  width: 450px;
  background: transparent;
  .demographic_modal_inner {
    background: url(application/fancybox/fancy_shadow_n.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    .demographic_content{
      height: 550px;
      width: 350px;
      margin: auto;
      padding-top: 40px;
      .demographic_header {
        h1 {
          color: #666666;
          font-weight: bold;
        }
        hr {
          border-color: rgb(171, 171, 171);
        }
      }
      .demographic_options {
        p {
          margin-top: 20px;
          margin-bottom: 2px;
          color: #666666;
          font-weight: bold;
        }
        select {
          width: 100%;
        }
      }
      .demographic_footer {
        margin-top: 50px;
        .send_survey {
          width: 125px;
          margin: auto;
          #send_survey {
            padding: 12px 40px;
            font-size: 18px;
            text-decoration: none;
          }
        }
        .skip_survey {
          width: 125px;
          margin: auto;
          margin-top: 22px;
          text-align: center;
          #skip_survey {
            color: #666666;
            font-size: 15px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
