.thank_you_modal_hidden
  #thank_you_modal
    .thank_you_modal_inner
      = link_to (image_tag 'application/fancybox/fancy_close_blue.png'), root_path, :class => 'thank_you_close_button'
      .thank_you_info
        .thank_you_heart
        .thank_you_message
          %p.thank_you_title
            Thank You!
          %p.thank_you_desc
            = message
        %p.thank_you_share
          = submessage
      .thank_you_share_links
        %span{ :class => 'st_twitter_large',  'st_url' => share_url, :id => 'thank_twitter_share' }
        %span{ :class => 'st_facebook_large', 'st_url' => share_url, :id => 'thank_facebook_share' }
        %span{ :class => 'st_linkedin_large', 'st_url' => share_url, :id => 'thank_linkedin_share' }
