.membership_summary.share_ciw
  %p.share_title
    Let's make an impact together
  %p.share_info
    Help share your experience with CIW on social media.
    %br
    Please get involved.
  .share_links
    %span{ :class => 'st_facebook_large',   'st_url' => member_types_url, :id => 'facebook_share' }
    %span{ :class => 'st_twitter_large',    'st_url' => member_types_url, :id => 'twitter_share'  }
    %span{ :class => 'st_linkedin_large',   'st_url' => member_types_url, :id => 'linkedin_share' }
    %span{ :class => 'st_googleplus_large', 'st_url' => member_types_url, :id => 'googleplus_share' }
