#share_sponsor {
  padding: 45px 35px;
  .share_description {
    width: 270px;
    float: left;
    color: #666;
    .share_title {
      font-size: 15px;
      font-weight: bold;
    }
    .share_info {
      line-height: 25px;
      font-size: 15px;
    }
  }
  .share_links {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
    #facebook_share, #twitter_share, #linkedin_share, #googleplus_share {
      padding-right: 15px;
      .stButton .stLarge {
        width: 55px;
        height: 55px;
        background-size: 100% 100%;
      }
      .stButton .stLarge:hover {
        opacity: 1 !important;
        background-position: 0 !important;
      }
    }
    #facebook_share .stButton .stLarge {
      background-image: url(application/orders/facebook.png) !important;
    }
    #twitter_share .stButton .stLarge {
      background-image: url(application/orders/twitter.png) !important;
    }
    #linkedin_share .stButton .stLarge {
      background-image: url(application/orders/linkedin.png) !important;
    }
    #googleplus_share .stButton .stLarge {
      background-image: url(application/orders/google_plus.png) !important;
    }
  }
}

#sponsor_organization {
  color: #666;
  .title strong {
    color: #666;
  }
  #loading_image {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

#ciw_contacts {
  color: #666;
  padding-top: 30px;
  padding-top: 30px;
  .ciw_contacts_title {
    margin-bottom: 30px;
  }
  .ciw_contact {
    float: left;
    img {
      float: left;
    }
    .ciw_contact_info {
      margin-left: 30px;
      .title {
        margin-bottom: 10px;
        strong {
          color: #666;
        }
      }
      float: left;
    }
  }
  .ciw_contact:nth-child(3) {
    margin-left: 30px;
  }
}

#interest_volunteer {
  width: 280px;
  padding-left: 0;
  padding-right: 0;
  color: #666;
  line-height: 25px;
  background: transparent;
  border: none;
  .row {
    font-size: 15px;
    .title strong {
      color: #666;
      font-size: 15px;
    }
    p {
      margin-top: 30px;
    }
  }
}
