.hidden_dashboard {
  display: none;
}

#dashboard_index {
  .head-page-tab {
    margin-bottom: 40px !important;
    .desc-page {
      color: #666;
    }
  }
}

#important_dates {
  .important_dates_title {
    font-size: 33px;
    margin-bottom: 25px;
  }
  .event_date_container {
    width: 611px;
    background: #FFF;
    margin: 15px !important;
    .event_info {
      width: 428px !important;
      .event_name {
        font-size: 25px !important;
      }
    }
  }
}

#sponsor_shares {
  float: left;
  width: 220px;
  .share_title {
    width: 165px;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #666;
    font-size: 15px;
    font-weight: bold;
  }
  .share_links {
    text-align: center;
    #facebook_share, #twitter_share {
      padding-right: 15px;
      .stButton .stLarge {
        width: 70px;
        height: 70px;
        background-size: 100% 100%;
      }
      .stButton .stLarge:hover {
        opacity: 1 !important;
        background-position: 0 !important;
      }
    }
    #facebook_share .stButton .stLarge {
      background-image: url(application/orders/facebook.png) !important;
    }
    #twitter_share .stButton .stLarge {
      background-image: url(application/orders/twitter.png) !important;
    }
  }
}

#newsletter_form {
  float: left;
  width: 370px;
  padding-left: 30px;
  border-left: 1px solid #E6E6E6;
  .newsletter_title {
    color: #666;
    font-size: 15px;
    font-weight: bold;
  }
  fieldset {
    width: 370px;
    ol {
      li {
        float: left;
        width: 170px;
        input {
          width: 150px;
          height: 20px;
        }
      }
    }
  }
  #subscribe_news {
    margin-left: 80px;
    width: 222px;
    line-height: 0;
  }
}

#sponsor_organization {
  color: #666;
  .title strong {
    color: #666;
  }
  #new_user {
    margin-top: 30px;
    #submit_request {
      line-height: 0;
    }
    #loading_image {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    .errors {
      padding-left: 0;
      list-style: none;
      color: #F00;
    }
    .message {
      text-align: left;
    }
  }
}

#ciw_contacts {
  color: #666;
  padding-top: 30px;
  padding-top: 30px;
  .ciw_contacts_title {
    margin-bottom: 30px;
  }
  hr {
    margin: 30px 0;
    color: #E6E6E6;
  }
  .contact_list {
    padding-left: 0;
    list-style: none;
    .ciw_contact {
      float: left;
      img {
        float: left;
        border: 6px solid #E6E6E6;
      }
      .ciw_contact_info {
        margin-left: 22px;
        .title {
          margin-bottom: 10px;
          strong {
            color: #666;
          }
        }
        float: left;
      }
    }
    .ciw_contact:nth-child(2) {
      margin-left: 18px;
    }
  }
}

#interest_volunteer {
  width: 280px;
  padding-left: 0;
  padding-right: 0;
  color: #666;
  line-height: 25px;
  background: transparent;
  border: none;
  .row {
    font-size: 15px;
    .title strong {
      color: #666;
      font-size: 15px;
    }
    p {
      margin-top: 30px;
    }
  }
}

.activation_modal_hidden {
  display: none;
}

#activation_modal {
  width: 700px;
  .inner {
    .activation_titles {
      padding: 40px 40px;
      .activation_title {
        margin: 0;
        font-size: 20px;
      }
      .upload_logo_title {
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    ul.span {
      padding-left: 0;
      list-style: none;
      font-size: 13px;
    }
    .upload_errors {
      float: left;
      list-style: none;
      color: #F00;
      font-size: 14px;
    }
    #submit_activation {
      text-align: center;
      .form-submit {
        margin: 30px auto;
      }
    }
  }
}
