%table#member_types
  %tr
    %th.title Title
    %th.description Description
    %th.prices Prices
    %th.limits Members
    %th.value Value
    %th
  = render :partial => 'admin/member_types/member_type.html.haml', :collection => member_types
