.left-column#key_sponsorship_dates_index

  %h1.head-page-tab
    %small IMPORTANT DEADLINES
    Key Sponsorship Dates
  .desc-page
    The following list will help you keep track of key dates and deadlines related to Chicago Ideas Week and your sponsorship.

  %hr

  - SponsorEvent::MONTHS.each do |month|
    - SponsorEvent.order_by_month(month).each  do |sponsor_event|
      = render :partial => 'sponsor/shared/sponsor_event', :locals => { :sponsor_event => sponsor_event }
