.left-column#key_sponsorship_dates_index

  %h1.head-page-tab
    %small IMPORTANT DEADLINES
    Key Sponsorship Dates
  .desc-page
    The following list will help you keep track of key dates and deadlines related to Chicago Ideas Week and your sponsorship benefits.

  %hr
