!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
  %body
    %p
      Hello CIW,
    %br
    %p
      Someone just purchased a membership! Click
      = link_to 'here', admin_member_url(@member)
      to view the purchase.
