.main_content {
  background: url(application/member_types/main_content_background.png) repeat;
  background-size: 100% 100%;
  .main_title {
    margin: 50px auto auto auto;
    font-size: 48px;
    color: #262223;
    text-align: center;
  }
  .main_subtitle {
    width: 330px;
    margin: 20px auto auto auto;
    text-align: center;
    font-size: 15px;
  }
  .member_types {
    width: 1050px;
    margin: 50px auto 70px auto;
    .member_type_detailed_container {
      float: left;
      width: 530px;
      border-right: 1px solid rgb(182, 176, 176);
      .member_detailed {
        display: none;
        padding-right: 30px;
        .detailed_header {
          border-bottom: 1px solid rgb(167, 160, 160);
          padding-bottom: 12px;
          .img_container {
            float: left;
            width: 129px;
          }
          .detailed_title_projected {
            float: left;
            width: 354px;
            margin: 28px auto 28px 12px;
            .blue_btn {
              float: right;
              padding: 8px 10px !important;
              border-radius: 4px;
              font-size: 15px;
              font-weight: normal;
              text-align: center;
              text-decoration: none;
              width: 90px;
              padding: 5px 0;
            }
            .detailed_title {
              margin-bottom: 0;
              padding-bottom: 15px;
              color: #262223;
              font-weight: bold;
              font-size: 28px;
              line-height: 30px;
            }
            .detailed_projected {
              padding-top: 15px;
              color: rgb(18,117,197);
              font-weight: bold;
              font-size: 16px;
              border-top: 1px solid white;
            }
          }
        }
        .detailed_content {
          padding-top: 40px;
          padding-bottom: 40px;
          margin-bottom: 0;
          font-size: 13px;
          ul {
            padding-left: 15px;
            list-style: circle;
          }
          p {
            margin-top: 15px;
            margin-bottom: 0;
            font-size: 13px;
            color: #262223;
          }
        }
        .detailed_total {
          margin-left: 50px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: right;
          font-size: 13px;
          font-weight: bold;
          color: rgb(18, 117, 197);
          border-top: 1px solid rgb(160, 154, 154);
          border-bottom: 1px solid rgb(160, 154, 154);
        }
      }
      #membership_info {
        img {
          float: right;
          margin-left: 30px;
          margin-bottom: 20px;
        }
        p {
          text-align: justify;
          font-size: 14px;
          line-height: 27px;
          word-spacing: 2px;
        }
      }
    }
    .member_types_summaries {
      float: left;
      padding-left: 35px;
      .join_membership {
        font-size: 13px;
        font-weight: bold;
        color: rgb(97, 97, 97);
      }
      .member_summary {
        width: 450px;
        margin-top: 15px;
        background: url(application/member_types/member_summary_background.png) repeat;
        background-size: 100% 100%;
        border-radius: 7px;
        border-top: 1px solid rgb(166, 166, 166);
        border-bottom: 1px solid #FFF;
        div {
          float: left;
        }
        .member_info {
          width: 54%;
          padding: 2px 0 2px 10px;
          border-right: 1px solid #FFF;
          img {
            float: left;
          }
          .member_name_price {
            float: left;
            margin-top: 5px;
            margin-left: 10px;
            p {
              margin: 0;
              color: #000;
              font-size: 12px;
              font-weight: bold;
              line-height: 15px;
            }
          }
        }
        .member_buy, .member_more_info {
          height: 45px;
          width: 21%;
          text-align: center;
          border-left: 1px solid rgb(159, 152, 152);
          a {
            margin: 8px auto;
            font-size: 11px;
            font-weight: bold;
            width: 60px;
          }
          .blue_btn {
            display: block;
            padding: 4px 11px;
            border-radius: 4px;
            text-decoration: none;
          }
        }
        .member_more_info {
          border-right: 1px solid #FFF;
        }
      }
    }
  }
}
.member_type_join {
  min-height: 220px;
  background: url(application/member_types/join_ciw_background.png) repeat;
  background-size: 100% 100%;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  .join_content {
    width: 880px;
    height: 100%;
    margin: auto auto;
    p {
      float: left;
      width: 400px;
      margin: 50px 10px;
      font-size: 14px;
    }
  }
}
.member_type_started_with {
  height: 220px;
  text-align: center;
  .info {
    width: 650px;
    margin: 0 auto;
    padding-top: 40px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: rgb(83, 83, 83);
    span {
      color: rgb(14, 113, 195);
    }
  }
}
.member_type_questions {
  height: 220px;
  background: url(application/member_types/questions_background.png);
  border-top: 1px solid rgb(194, 194, 194);
  color: rgb(83, 83, 83);
  text-align: center;
  .organization {
    width: 300px;
    margin: 40px auto auto auto;
    font-size: 12px;
  }
  .questions {
    width: 400px;
    margin: 30px auto auto auto;
    font-size: 15px;
  }
}

.active_member_type {
  display: block !important;
}
