#memberships_banner {
  height: 248px;
  .banner_wrapper {
    background: url(application/member_types/memberships_banner.png) top center no-repeat;
    height: 188px;
    .main_title {
      margin-top: 40px;
      color: #000000;
      font-family: helvetica;
      font-size: 52px;
      text-align: center;
    }
    .main_subtitle {
      margin: 30px auto 0 auto;
      color: #000000;
      width: 420px;
      font-family: helvetica;
      font-size: 20px;
      text-align: center;
    }
  }
}

.main_content {
  background: url(application/member_types/main_content_background.png) repeat;
  background-size: 100% 100%;
  .member_types {
    width: 1050px;
    margin: 50px auto 70px auto;
    .member_type_detailed_container {
      float: left;
      width: 500px;
      .member_detailed {
        display: none;
        .highlighted_benefits {
          background: #FFFFFF;
          .detailed_header {
            padding: 30px;
            border-bottom: 1px solid rgb(167, 160, 160);
            .blue_btn {
              float: right;
              padding: 12px 15px !important;
              border-radius: 4px;
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              text-decoration: none;
              width: 90px;
            }
            .detailed_title {
              margin-bottom: 0;
              padding-bottom: 15px;
              color: #262223;
              font-weight: bold;
              font-size: 28px;
              line-height: 30px;
              .detailed_price {
                font-size: 24px;
              }
            }
            .detailed_projected {
              padding-top: 15px;
              color: rgb(18,117,197);
              font-weight: bold;
              font-size: 16px;
              border-top: 1px solid white;
            }
          }
        }
        .highlighted_benefits, .general_benefits {
          background: #FFFFFF;
          border: 1px inset gainsboro;
          font-size: 13px;
          ul {
            padding: 0 30px 30px 30px;
            margin-left: 20px;
            list-style: circle;
            font-size: 16px;
          }
          .detailed_highlighted_title, .detailed_general_title {
            padding: 30px 30px 10px 30px;
            margin-bottom: 0;
            color: #262223;
          }
          .detailed_highlighted_title {
            font-size: 23px;
          }
          .detailed_general_title {
            font-size: 21px;
          }
        }
        .general_benefits {
          margin-top: 30px;
          p {
            font-size: 21px;
          }
        }
        .detailed_total {
          margin-left: 50px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: right;
          font-size: 13px;
          font-weight: bold;
          color: rgb(18, 117, 197);
          border-top: 1px solid rgb(160, 154, 154);
          border-bottom: 1px solid rgb(160, 154, 154);
        }
      }
      #membership_info {
        background: #FFFFFF;
        border: 1px inset gainsboro;
        p {
          padding: 25px 25px 0 25px;
          margin: 0;
          font-size: 14px;
          line-height: 27px;
          word-spacing: 2px;
        }
        p:nth-child(4) {
          padding-bottom: 25px;
        }
      }
    }
    .member_types_summaries {
      float: left;
      padding-left: 45px;
      .join_membership {
        padding-left: 15px;
        margin: 15px 0 0 0;
        font-size: 23px;
        font-weight: bold;
        color: #000000;
      }
      .member_summaries_container {
        padding: 15px 15px 25px 15px;
        #become_innovation {
          margin-top: 30px;
          display: block;
          width: 450px;
          .become_innovation_council {
            padding: 20px;
            background: #007AC2;
            font-size: 23px;
            font-weight: bold;
            line-height: 27px;
            color: #FFFFFF;
          }
        }
        .member_summary {
          min-height: 55px;
          width: 450px;
          margin-top: 15px;
          background: url(application/member_types/member_summary_background.png) repeat;
          background-size: 100% 100%;
          border-radius: 7px;
          border-top: 1px solid rgb(166, 166, 166);
          border-bottom: 1px solid #FFF;
          div {
            float: left;
          }
          .member_info {
            width: 40%;
            padding: 2px 0 2px 10px;
            border-right: 1px solid #FFF;
            p {
              width: 165px;
              margin-top: 9px;
              margin-left: 10px;
              color: #000;
              font-size: 13px;
              font-weight: bold;
              line-height: 15px;
            }
          }
          .member_buttons {
            height: 55px;
            width: 56%;
            text-align: center;
            border-left: 1px solid rgb(159, 152, 152);
            a {
              float: left;
              margin-left: 16px;
              margin-top: 10px;
              padding: 11px 15px;
              font-size: 12px;
              font-weight: bold;
              width: 70px;
            }
            .blue_btn {
              display: block;
              padding: 7px 15px;
              border-radius: 4px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.member_type_join {
  min-height: 220px;
  background: url(application/member_types/join_ciw_background.png) repeat;
  background-size: 100% 100%;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  .join_content {
    width: 880px;
    height: 100%;
    margin: auto auto;
    p {
      float: left;
      width: 400px;
      margin: 50px 10px;
      font-size: 14px;
    }
  }
}
.member_type_started_with {
  height: 220px;
  text-align: center;
  .info {
    width: 650px;
    margin: 0 auto;
    padding-top: 40px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: rgb(83, 83, 83);
    span {
      color: rgb(14, 113, 195);
    }
  }
}
.member_type_questions {
  height: 220px;
  background: url(application/member_types/questions_background.png);
  border-top: 1px solid rgb(194, 194, 194);
  color: rgb(83, 83, 83);
  text-align: center;
  .organization {
    width: 300px;
    margin: 40px auto auto auto;
    font-size: 12px;
  }
  .questions {
    width: 400px;
    margin: 30px auto auto auto;
    font-size: 15px;
  }
}

.active_member_type {
  display: block !important;
}
