.secure_transaction {
  color: rgb(189, 189, 189);
  font-size: 14px;
  #veri_sign_logo {
    float: right;
  }
}
#membership_purchase {
  width: 100%;
  #membership_form_section {
    float: left;
    padding: 60px;
    width: 35%;
    .form_section {
      border-bottom: none;
      .form_section_header {
        font-size: 1.5em;
        color: rgb(87, 87, 87);
      }
      .form_section_separator {
        margin: 20px auto 30px auto;
      }
      .form_errors {
        margin-bottom: 20px;
        .form_error {
          font-size: 14px;
          color: red;
          text-align: right;
        }
      }
      .v_lists {
        ol li {
          overflow: auto;
          label {
            float: left;
            width: 115px;
            margin-top: 8px;
            padding-right: 20px;
            text-align: right;
          }
          input {
            float: left;
            width: 56%;
          }
          #order_state {
            width: 214px;
            margin-top: 8px;
          }
          p {
            float: left;
            margin-left: 134px;
            margin-bottom: 0;
            font-size: 0.8em;
          }
        }
        .form_state_cards {
          #order_state_input {
            float: left;
            width: 60%;
            input {
              width: 53px;
            }
          }
          .form_cards {
            float: right;
            width: 40%;
          }
        }
        .form_expdate_cvc {
          #order_expiry_date_input {
            float: left;
            width: 65%;
            input {
              width: 74px;
            }
          }
          #order_cvc_input {
            float: left;
            width: 30%;
            margin-left: 16px !important;
            label {
              width: 40px;
              padding-right: 4px;
            }
            input {
              width: 43px;
            }
            p {
              margin-left: 4px;
            }
          }
        }
      }
    }
    .actions ol input {
      float: right;
      font-size: 17px;
      font-weight: normal;
    }
  }
  #membership_summary_section {
    float: left;
    width: 40%;
    padding: 60px;
    .summary_header {
      font-size: 1.5em;
      font-weight: bold;
      color: rgb(87, 87, 87);
    }
    .membership_summary {
      width: 100%;
      padding: 20px 0 20px 30px;
      background: rgb(246, 246, 246);
      color: rgb(87, 87, 87);
      border-top: 1px solid rgb(193, 193, 193);
      border-bottom: 1px solid rgb(193, 193, 193);
    }
    .member_type_summary {
      .member_type_name {
        width: 360px;
        margin: 35px 0;
        color: rgb(14, 113, 195);
        font-weight: bold;
        font-size: 20px;
        .member_type_price {
          color: rgb(85, 85, 85);
        }
      }
    }
    .need_help {
      margin-top: 30px;
      .need_help_title {
        font-size: 15px;
        font-weight: bold;
      }
      .need_help_content {
        img {
          float: left;
        }
        .need_help_info {
          float: left;
          width: 250px;
          padding-left: 30px;
          font-size: 13px;
        }
      }
    }
    .share_ciw {
      margin-top: 30px;
      .share_title {
        font-size: 14px;
        font-weight: bold;
      }
      .share_info {
        font-size: 14px;
      }
      .share_links {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        #facebook_share, #twitter_share, #linkedin_share, #googleplus_share {
          padding-right: 15px;
          .stButton .stLarge {
            width: 55px;
            height: 55px;
            background-size: 100% 100%;
          }
          .stButton .stLarge:hover {
            opacity: 1 !important;
            background-position: 0 !important;
          }
        }
        #facebook_share .stButton .stLarge {
          background-image: url(application/orders/facebook.png) !important;
        }
        #twitter_share .stButton .stLarge {
          background-image: url(application/orders/twitter.png) !important;
        }
        #linkedin_share .stButton .stLarge {
          background-image: url(application/orders/linkedin.png) !important;
        }
        #googleplus_share .stButton .stLarge {
          background-image: url(application/orders/google_plus.png) !important;
        }
      }
    }
    .volunteering {
      margin-top: 40px;
      .volunteering_title {
        font-size: 14px;
        font-weight: bold;
      }
      .volunteering_info {
        font-size: 14px;
      }
    }
  }
  #personal {
    ol li label {
      font-weight: inherit;
    }
    #same_billing_info {
      fieldset {
        width: 100%;
        legend {
          float: right;
          width: 120px;
          label {
            width: 100%;
            padding-right: 0;
            text-align: left;
          }
        }
        .choices {
          width: 80px;
          margin-left: 135px !important;
          float: left;
          .choice {
            label {
              width: 50px;
              input {
                width: 33%;
              }
            }
          }
        }
      }
    }
  }
  #confirm_purchase {
    padding: 6px 42px;
  }
}
