%section#memberships_banner.banner.container-fluid
  .banner_wrapper
    %h1.main_title
      Become A Member
    %p.main_subtitle
      Enjoy Unparalleled Access, Advanced Tickets, &amp; Invitations to Insider Parties!

= render 'member_types/main_content', :member_types => @member_types
= render 'member_types/join_ciw'
= render 'member_types/started_with'
= render 'member_types/questions'
