- material_document_url = material.document.url

%li
  %div
    = link_to image_tag(material.thumbnail), material_document_url
  %h3
    = link_to material.name, material_document_url
  %p
    = link_to 'download', material_document_url

