%h1.head-page-tab
  %small RESOURCES
  Shared Materials
  .desc-page
    Please use these resources when sharing your involvement with CIW,
    %br both inside and outside your organization!

.row.ciw_video
  %iframe{ :width => '800', :height => '420', :src => ApplicationHelper::SPONSOR_YOUTUBE_URL, :frameborder => '0', :allowfullscreen => true }


.row#materials
  - @materials.in_groups_of(3, false) do |materials_group|
    %ul.group
      - materials_group.each do |material|
        = render :partial => 'material', :locals => { :material => material }

.clr

= render :partial => 'sponsor/shared/activation_modal', :locals => { :sponsor => @sponsor }

.hidden_dashboard{ :data => { 'sponsor-active' => @sponsor.active?.to_s } }
